.description {
    position: relative;
    width: 100%;
    height: 300px;
    
}

.section-description{
    width: 100%;
    height: 300px;
    background: linear-gradient(to right, #580579, #000000); 
    position: relative;
    overflow: hidden;
    
}
.container-description {
    display: flex; 
    align-items: flex-start; 
    justify-content: center; 
    gap: 20px;
    height: 100%; 
    position: relative; 
    padding: 10px; 
}
.description-section {
    color: white;
    z-index: 10;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-description{
    background: rgba(196, 187, 187, 0.068);
    border-radius: 5px;
    box-shadow:0 2px px rgba(0, 0, 0, 0.247); /* Añade la sombra */ ;
    text-align: center; 
}
.text-description h1 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.text-description p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.image-description {
    height: 270px; 
    width: auto; 
    display: block; /* Asegura que la imagen no tenga espacio debajo */
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.719) 0%, rgba(0, 0, 0, 0) 100%);
    mask-size: 100% 100%;
    top:20px;
    left: 200px;

    position: absolute
}

.icons-description{
    display: flex;
    gap: 20px;
    text-align: center;
    margin-top: 30px;
    align-items: center;
}
.icons-description a{
    position: relative;
    text-decoration: none;
    color: aliceblue;
    padding: 5px 10px; /* Ajusta el padding según tus necesidades */
    border-radius: 5px;
}
.icon-linkedin{
    background-color: #8308b4;
}
.icon-linkedin:hover{
    background-color: rgba(174, 37, 228, 0.89);

}

.icon-cv{
    border: none; /* Elimina el borde gris aquí */
    position:relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
.icon-cv::before{
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    background-image: conic-gradient(rgb(158, 5, 230) 20deg,transparent 120deg);
    animation: rotar 3s linear infinite;
    z-index: 0; /* Coloca la animación detrás del contenido */
}
@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform :rotate(360deg);
    }
}
.icon-cv::after {
    content: "";
    position: absolute;
    width: 115px;
    height: 35px;
    background-color: #2e2c2c;
    border-radius: 5px;
}

.icon-cv i, .icon-cv span {
    position: relative;
    z-index: 1; /* Asegura que el texto y el ícono estén encima de la animación */
}


.icon-cv:hover{

    background-color: #801ba1;
    cursor: pointer;
    
}


