.section-projects {
    background-color: #f4f4f4;
}

.content-project {
    text-align: center;
    margin-bottom: 20px;
}

.consola-img {
    width: 100px; /* Ajusta según sea necesario */
    height: auto;
}

.container-cards {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center; /* Centra las tarjetas en el contenedor */
}

.container-card {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    width: 370px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.img-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.skills-card  {
    display: flex;
    
    margin: 4px 0;
    gap: 10px;
}