.section-projects {
    background-color:#f2f4f6;
    
    padding-bottom: 40px;
}
.section-projects h2{
    color: #00214d;
    font-weight: 600;
    font-size:30px ;
}
.content-project {
    text-align: center;

}

.consola-img {
    width: 90px; /* Ajusta según sea necesario */
    height: auto;
}

.container-cards {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center; /* Centra las tarjetas en el contenedor */
}

.container-card {
    border: 1px solid #f2f4f6;
    padding: 16px;
    border-radius: 8px;
    width: 370px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.img-card img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
}

.skills-card  {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin: 4px 0;
    gap: 10px;
    
}
.skills-card span {
    background-color: #fffffe; /* Un amarillo brillante */
    
    padding: 4px 6px;
 
    color: #00214d; /* Un color oscuro para hacer contraste */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.span-title{
    color: #00214d;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    
}
.span-description{
    color: #1b2d45;
 
    font-weight: 300
}
.container-card hr {
    
    
        border: 0;
        height: 2px;
        background-color: #8d49b4c5; /* Gris oscuro */
        box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.5); /* Sombra en la línea */
        margin: 20px 0;
    
    
    
    
}
.icon-skills{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    
}
.icon-skills a {
    font-size: 20px; 
    margin: 0 10px; 
    text-decoration: none;
    color: inherit; /* Hereda el color del texto */
    transition: transform 0.2s; /* Transición para efecto de hover */
}
.icon-skills a:hover {
    transform: scale(1.2); /* Aumenta el tamaño al pasar el cursor */
}